@import "tailwindcss";

@import "./components.css";
@import "./theme.css";

@font-face {
  font-family: "Jersey10";
  src: url("/assets/fonts/Jersey10-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiny5";
  src: url("/assets/fonts/Tiny5-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@utility font-default {
  font-family: "Jersey10", "Helvetica", sans-serif;
}

@utility font-contrast {
  font-family: "Tiny5", monospace;
}

@utility cur-default {
  cursor:
    url(/assets/cursor.png) 0 0,
    auto;
}

@utility cur-pointer {
  cursor:
    url(/assets/cursor-pointer.png) 0 0,
    auto;
}

@layer base {
  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background font-default text-text cur-default;
  }

  button,
  a {
    @apply not-disabled:cur-pointer;
  }

  img {
    user-select: none;
  }

  ::selection {
    @apply bg-primary text-primary-contrast;
  }

  h1 {
    @apply text-5xl md:text-7xl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl tracking-wide;
  }

  h5 {
    @apply text-xl tracking-wide;
  }

  h6 {
    @apply text-xl tracking-wider;
  }

  p {
    @apply text-xl tracking-wider;
  }
}
