@utility pixel-corner-* {
  clip-path: polygon(
    0% calc(--value(integer) * 1px),
    calc(--value(integer) * 1px) calc(--value(integer) * 1px),
    calc(--value(integer) * 1px) 0%,
    calc(100% - calc(--value(integer) * 1px)) 0%,
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 1px),
    100% calc(--value(integer) * 1px),
    100% calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 1px)) 100%,
    calc(--value(integer) * 1px) 100%,
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 1px)),
    0% calc(100% - calc(--value(integer) * 1px))
  );
}

@utility pixel-corner-lg-* {
  clip-path: polygon(
    0% calc(--value(integer) * 2px),
    calc(--value(integer) * 1px) calc(--value(integer) * 2px),
    calc(--value(integer) * 1px) calc(--value(integer) * 1px),
    calc(--value(integer) * 2px) calc(--value(integer) * 1px),
    calc(--value(integer) * 2px) 0%,
    calc(100% - calc(--value(integer) * 2px)) 0%,
    calc(100% - calc(--value(integer) * 2px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 2px),
    100% calc(--value(integer) * 2px),
    100% calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 2px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 2px)) 100%,
    calc(--value(integer) * 2px) 100%,
    calc(--value(integer) * 2px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 2px)),
    0% calc(100% - calc(--value(integer) * 2px))
  );
}

@utility pixel-corner-xl-* {
  clip-path: polygon(
    0% calc(--value(integer) * 4px),
    calc(--value(integer) * 1px) calc(--value(integer) * 4px),
    calc(--value(integer) * 1px) calc(--value(integer) * 2px),
    calc(--value(integer) * 2px) calc(--value(integer) * 2px),
    calc(--value(integer) * 2px) calc(--value(integer) * 1px),
    calc(--value(integer) * 4px) calc(--value(integer) * 1px),
    calc(--value(integer) * 4px) 0%,
    calc(100% - calc(--value(integer) * 4px)) 0%,
    calc(100% - calc(--value(integer) * 4px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 2px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 2px)) calc(--value(integer) * 2px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 2px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 4px),
    100% calc(--value(integer) * 4px),
    100% calc(100% - calc(--value(integer) * 4px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 4px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 2px))
      calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 2px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 4px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 4px)) 100%,
    calc(--value(integer) * 4px) 100%,
    calc(--value(integer) * 4px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 2px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 2px) calc(100% - calc(--value(integer) * 2px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 2px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 4px)),
    0% calc(100% - calc(--value(integer) * 4px))
  );
}

@layer components {
  .primary-btn {
    @apply bg-primary py-2 px-6 pixel-corner-4 text-primary-contrast text-xl leading-none font-default;
  }

  .game-container {
    @apply relative bg-background rounded-sm border-4 border-border;
  }
}
