@utility pixel-corner-* {
  clip-path: polygon(
    0% calc(--value(integer) * 1px),
    calc(--value(integer) * 1px) calc(--value(integer) * 1px),
    calc(--value(integer) * 1px) 0%,
    calc(100% - calc(--value(integer) * 1px)) 0%,
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 1px),
    100% calc(--value(integer) * 1px),
    100% calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 1px)) 100%,
    calc(--value(integer) * 1px) 100%,
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 1px)),
    0% calc(100% - calc(--value(integer) * 1px))
  );
}

@utility pixel-corner-lg-* {
  clip-path: polygon(
    0% calc(--value(integer) * 2px),
    calc(--value(integer) * 1px) calc(--value(integer) * 2px),
    calc(--value(integer) * 1px) calc(--value(integer) * 1px),
    calc(--value(integer) * 2px) calc(--value(integer) * 1px),
    calc(--value(integer) * 2px) 0%,
    calc(100% - calc(--value(integer) * 2px)) 0%,
    calc(100% - calc(--value(integer) * 2px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 2px),
    100% calc(--value(integer) * 2px),
    100% calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 2px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 2px)) 100%,
    calc(--value(integer) * 2px) 100%,
    calc(--value(integer) * 2px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 2px)),
    0% calc(100% - calc(--value(integer) * 2px))
  );
}

@utility pixel-corner-xl-* {
  clip-path: polygon(
    0% calc(--value(integer) * 4px),
    calc(--value(integer) * 1px) calc(--value(integer) * 4px),
    calc(--value(integer) * 1px) calc(--value(integer) * 2px),
    calc(--value(integer) * 2px) calc(--value(integer) * 2px),
    calc(--value(integer) * 2px) calc(--value(integer) * 1px),
    calc(--value(integer) * 4px) calc(--value(integer) * 1px),
    calc(--value(integer) * 4px) 0%,
    calc(100% - calc(--value(integer) * 4px)) 0%,
    calc(100% - calc(--value(integer) * 4px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 2px)) calc(--value(integer) * 1px),
    calc(100% - calc(--value(integer) * 2px)) calc(--value(integer) * 2px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 2px),
    calc(100% - calc(--value(integer) * 1px)) calc(--value(integer) * 4px),
    100% calc(--value(integer) * 4px),
    100% calc(100% - calc(--value(integer) * 4px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 4px)),
    calc(100% - calc(--value(integer) * 1px))
      calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 2px))
      calc(100% - calc(--value(integer) * 2px)),
    calc(100% - calc(--value(integer) * 2px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 4px))
      calc(100% - calc(--value(integer) * 1px)),
    calc(100% - calc(--value(integer) * 4px)) 100%,
    calc(--value(integer) * 4px) 100%,
    calc(--value(integer) * 4px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 2px) calc(100% - calc(--value(integer) * 1px)),
    calc(--value(integer) * 2px) calc(100% - calc(--value(integer) * 2px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 2px)),
    calc(--value(integer) * 1px) calc(100% - calc(--value(integer) * 4px)),
    0% calc(100% - calc(--value(integer) * 4px))
  );
}

@layer components {
  .primary-btn {
    @apply relative bg-border py-2 px-6 pixel-corner-xl-2 text-primary-contrast text-xl leading-none font-default cur-pointer;

    &:before {
      @apply absolute inset-0.5 bg-primary pixel-corner-xl-2 -z-1;
      content: "";
    }
  }

  .icon-btn {
    @apply flex bg-accent text-accent-contrast size-8 items-center justify-center aspect-square pixel-corner-3 cur-pointer;
  }

  .card {
    @apply relative bg-border pixel-corner-xl-4;

    &:before {
      @apply absolute inset-1 bg-foreground pixel-corner-xl-4 -z-1;
      content: "";
    }
  }
}
