@utility cursor {
  cursor:
    url(/assets/cursor.png) 0 0,
    auto;
}

@utility cursor-pointer {
  cursor:
    url(/assets/cursor-pointer.png) 0 0,
    auto;
}

@layer base {
  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background cursor;
  }

  button {
    @apply not-disabled:cursor-pointer;
  }

  img {
    user-select: none;
  }
}
