@utility cur-default {
  cursor:
    url(/assets/cursor.png) 0 0,
    auto;
}

@utility cur-pointer {
  cursor:
    url(/assets/cursor-pointer.png) 0 0,
    auto;
}

@layer base {
  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background font-default text-text cur-default;
  }

  button,
  a {
    @apply not-disabled:cur-pointer;
  }

  img {
    user-select: none;
  }
}
