@layer base {
  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background;
    cursor:
      url(/logo.webp) 0 0,
      auto;
  }

  button {
    @apply not-disabled:cursor-pointer;
  }

  img {
    user-select: none;
  }
}
