@theme {
  --color-primary: var(--color-neutral-950);
  --color-primary-contrast: var(--color-neutral-50);
  --color-primary-hover: var(--color-neutral-700);
  --color-accent: var(--color-neutral-300);
  --color-accent-contrast: var(--color-neutral-950);
  --color-accent-hover: var(--color-neutral-400);
  --color-border: var(--color-neutral-300);
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-100);
  --color-text: var(--color-neutral-950);
  --color-text-secondary: var(--color-neutral-700);
  --color-success: var(--color-green-600);
  --color-success-contrast: var(--color-green-50);
  --color-error: var(--color-red-600);
  --color-error-contrast: var(--color-red-50);
  --color-warning: var(--color-yellow-600);
  --color-warning-contrast: var(--color-yellow-50);
  --color-info: var(--color-neutral-200);
  --color-info-contrast: var(--color-neutral-900);

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 90rem;
}

@custom-variant dark (&:where(.dark, .dark *));
