@font-face {
  font-family: "Jersey10";
  src: url("/assets/fonts/Jersey10-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiny5";
  src: url("/assets/fonts/Tiny5-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@utility font-default {
  font-family: "Jersey10", "Helvetica", sans-serif;
}

@utility font-contrast {
  font-family: "Tiny5", monospace;
}

@layer base {
  ::selection {
    @apply bg-primary text-primary-contrast;
  }

  h1 {
    @apply text-5xl md:text-7xl font-default text-text tracking-tight;
  }

  h2 {
    @apply text-4xl md:text-5xl font-default text-text tracking-tight;
  }

  h3 {
    @apply text-3xl font-semibold font-default text-text tracking-tight;
  }

  h4 {
    @apply text-2xl font-medium font-default text-text tracking-tight;
  }

  h5 {
    @apply text-xl font-medium font-default text-text tracking-wide;
  }

  h6 {
    @apply text-xl font-medium font-default text-text tracking-wide;
  }

  p {
    @apply text-xl font-normal font-default text-text tracking-wider;
  }
}
