@reference "./_ui/main.css";

@layer components {
  .card {
    @apply bg-border pixel-corner-xl-6 p-1 rounded-lg;

    & .card-container {
      @apply relative pixel-corner-xl-6 rounded-md h-48 overflow-hidden;

      & img {
        @apply rounded-md object-cover transition duration-800;
      }

      & h4 {
        @apply absolute z-2 left-4 bottom-2 text-neutral-50 transition-all duration-400;
      }

      &::before {
        @apply absolute z-2 left-4 bottom-4 h-1 w-0 bg-neutral-50 transition-all duration-400;
        content: "";
      }

      &::after {
        @apply absolute -bottom-2 -left-2 w-full h-20 z-1 blur-xs;
        content: "";
        background: linear-gradient(
          10deg,
          var(--color-neutral-950) 0%,
          transparent 80%,
          transparent 100%
        );
      }
    }

    &:hover {
      & .card-container {
        & img {
          @apply scale-110 duration-400;
        }

        & h4 {
          @apply bottom-6;
        }

        &::before {
          @apply w-24;
        }
      }
    }
  }
}
