@reference "./_ui/styles/index.css";

@layer components {
  .game-card {
    @apply bg-border pixel-corner-xl-6 cur-pointer rounded-lg p-1;

    & .card-container {
      @apply pixel-corner-xl-6 relative h-48 overflow-hidden rounded-md;

      & img {
        @apply size-full rounded-md object-cover transition duration-800;
      }

      & h4 {
        @apply absolute bottom-2 left-4 z-2 text-neutral-50 transition-all duration-400;
      }

      &::before {
        @apply absolute bottom-4 left-4 z-2 h-1 w-0 bg-neutral-50 transition-all duration-400;
        content: "";
      }

      &::after {
        @apply absolute -bottom-2 -left-2 z-1 h-20 w-full blur-xs;
        content: "";
        background: linear-gradient(10deg, var(--color-neutral-950) 0%, transparent 80%, transparent 100%);
      }
    }

    &:hover {
      & .card-container {
        & img {
          @apply scale-110 duration-400;
        }

        & h4 {
          @apply bottom-6;
        }

        &::before {
          @apply w-24;
        }
      }
    }
  }
}
